@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&display=swap');

body{
  background-color: #0469E8;
}
.heading{
  font-family: 'Alexandria', sans-serif;

  font-weight: bold !important;
  font-size: 2.5rem !important;
  
}

.heads-up{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 10px auto 10px auto !important;
}

.btn{
  text-align: center;
  margin-bottom: 50px;
}

.lists{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 200 !important;
  margin-left: 50px !important;
}

.container-main{
  display: flex;
  flex-wrap: wrap;

  column-gap: 5rem;
  justify-content: center;

  align-items: center;
}

.sub-container{
  margin-top: 100px;
  width: 600px !important;
  transition: 0.2s ease-in-out !important;
}

.free{
  margin-top: 20px !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: bold !important;
  letter-spacing: 0.2rem !important;
}

.sub-container:hover{
  transform: translateY(-10px);
}

.icons{
  margin-right: 10px;
  font-weight: bold !important;
}

.li-text{
  font-weight: bold;
}